<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org/">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
    <div class="container p-2">
        <h2>Student detail</h2>
        <p>ID: <span th:text="${resultMap.id}"></span></p>
        <p>Name: <span th:text="${resultMap.name}"></span></p>
        <p>Passport No. <span th:text="${resultMap.passportNumber}"></span></p>
    </div>
</body>

</html>