<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org/">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
    <div class="container p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Passport No.</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="resultData : ${resultList}">
                    <td th:text="${resultData.id}"></td>
                    <td th:text="${resultData.name}"></td>
                    <td th:text="${resultData.passportNumber}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>