<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org/">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
    <div class="container p-2">
        <table class="table">
            <thead>
                <tr>
                    <th>ORGANIZATION_SEQ</th>
                    <th>NAME</th>
                    <th>TELEPHONE</th>
                    <th>ORDER_NUMBER</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form action="./list.html" th:action="@{/organization/list}">
                            <div class="form-group form-inline">
                                <select class="custom-select" name="ORGANIZATION_SEQ">
                                    <option th:each="resultData : ${resultList}"
                                        th:text="${resultData.ORGANIZATION_SEQ}"
                                        th:value="${resultData.ORGANIZATION_SEQ}">
                                    </option>
                                </select>
                                <button class="btn btn-outline-dark" type="submit">
                                    View
                                </button>

                            </div>
                        </form>
                    </td>
                    <td th:unless="${resultOne==null}" th:text="${resultOne.NAME}"></td>
                    <td th:unless="${resultOne==null}" th:text="${resultOne.TELEPHONE}"></td>
                    <td th:unless="${resultOne==null}" th:text="${resultOne.ORDER_NUMBER}"></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>ORGANIZATION_SEQ</th>
                    <th>NAME</th>
                    <th>TELEPHONE</th>
                    <th>ORDER_NUMBER</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="resultData: ${resultList}">
                    <td th:text="${resultData.ORGANIZATION_SEQ}"></td>
                    <td th:text="${resultData.NAME}"></td>
                    <td th:text="${resultData.TELEPHONE}"></td>
                    <td th:text="${resultData.ORDER_NUMBER}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>