<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org/">

<head>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
    <div class="container p-2">
        <form action="./view.html" th:action="@{/member/view}">
            <div class="card">
                <div class="card-header font-weight-bold">Required Information</div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-bold">Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control col" name="NAME" placeholder="Enter your name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">E-mail</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="email" class="form-control" placeholder="Enter your E-mail address"
                                name="EMAIL">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>