<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org/">

<head>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>
    <div class="container p-2">
        <form action="./search.html" th:action="@{/commonCode/search}">
            <div class="form-group">
                <div class="form-inline">
                    <input type="text" class="form-control m-1" name="QUERY" placeholder="검색어"
                        th:value="${resultList1.QUERY}">
                    <select class="custom-select m-1" name="RULE">
                        <option th:if="${resultList1.RULE}==0" value="0" selected>제목</option>
                        <option th:unless="${resultList1.RULE}==0" value="0">제목</option>
                        <option th:if="${resultList1.RULE}==1" value="1" selected>내용</option>
                        <option th:unless="${resultList1.RULE}==1" value="1">내용</option>
                        <option th:if="${resultList1.RULE}==2" value="2" selected>글쓴이</option>
                        <option th:unless="${resultList1.RULE}==2" value="2">글쓴이</option>
                    </select>
                    <button type="submit" class="btn btn-outline-dark m-1">검색</button>

                </div>
            </div>
        </form>
        <p>
            <span th:if="${resultList1.RULE}==0">제목에 </span>
            <span th:if="${resultList1.RULE}==1">내용에 </span>
            <span th:if="${resultList1.RULE}==2">글쓴이에 </span>
            검색어 "<span th:text="${resultList1.QUERY}"></span>"를 포함한 글
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="resultData: ${resultList2}">
                    <td th:text="${resultData.COMMON_CODE_ID}"></td>
                    <td th:text="${resultData.NAME}"></td>
                    <td th:text="${resultData.DESCRIPTION}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>