<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org/" lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="./home.html" th:href="@{/home}" class="navbar-brand">Home</a>
            </li>
            <li class="nav-item">
                <a href="./board/list.html" th:href="@{/board/list}" class="nav-link">Board</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <div class="btn-group" role="group">
                <a href="./member/signup.html" th:href="@{/member/signup}" class="btn btn-outline-light"
                    role="button">Sign Up</a>
                <a href="./member/login.html" th:href="@{/member/login}" class="btn btn-outline-light"
                    role="button">Login</a>
            </div>
        </ul>
    </nav>
    <div class="container p-2">
        <a class="btn btn-outline-dark p-3" href="./member/list.html" th:href="@{/member/list}">Member List</a>
        <a class="btn btn-outline-dark p-3" href="./commonCode/signup.html" th:href="@{/commonCode/signup}">Signup form using PathVariable</a>
        <a class="btn btn-outline-dark p-3" href="./commonCode/search.html" th:href="@{/commonCode/search}">Search Page Example</a>
    </div>
</body>

</html>